Calibration/Data/*.jpg
Calibration/Data/Left/
Calibration/Data/Right/
.vscode/*
.env/
Calibration/Data/.DS_Store
Calibration/Data/Right/.DS_Store
Calibration/.DS_Store
__pycache__/
Calibration/__pycache__